
.navigation {
  background-color: #283a5b;
  height: 9rem;
  margin-bottom:2rem;
}

.brand img {
  height: 44px;
}

#logo {
  margin-top:1rem;
  height: 5rem;
}

#links > ul {
    list-style-type: none;
    display: flex;
    justify-content:  flex-start;
}

#links > ul >li {
  margin-right: 2em;
}

#links a {
  color: white;
}

a.payloadurl {
  font-size: 0.8em;
}

.payloadStatus {
  font-size: 0.8em;
}

.payloadLink {
  padding-right: 2em;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
